# Ignore files with no extention.
*
!*/
!*.*
!LICENSE
!Dockerfile

# Ignore hidden files, but not the license or github files.
.*
!.github/
!.github/**
!.gitignore
!.dockerignore

# Normal ignores.
*.exe
nimcache
*.pdb
*.ilk
*.out

# Project specific ignores.
out/
*.dSYM/
